{% extends "base.html" %}
{% load static %}

{% block title %}
Shopping cart
{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">이미지</th>
        <th scope="col">제품명</th>
        <th scope="col">제품개수</th>
        <th scope="col">제거하기</th>
        <th scope="col">개당 가격</th>
        <th scope="col">제품 총 가격</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart %}
<!--  with 변수 :  product 변수에 값을 넣어줌-->
    {% with product=item.product %}
    <tr>
        <th scope="row">
            <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.image.url }}" class="img-thumbnail">
            </a>
        </th>
        <td>{{ product.name }}</td>
        <td>
            <form action="{% url 'cart:product_add' product.id %}" method="post">
            {{ item.quantity_form.quantity }}
            {{ item.quantity_form.is_update }}
            <input type="submit" class="btn btn-primary" value="Update">
            {% csrf_token %}
            </form>
        </td>
        <td><a href="{% url 'cart:product_remove' product.id %}">Remove</a></td>
        <td class="num">${{ item.price }}</td>
        <td class="num">${{ item.total_price }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
    <tr class="subtotal">
                <td>Subtotal</td>
                <td colspan="4"></td>
                <td >${{ cart.get_product_total }}</td>
            </tr>
    <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price|floatformat:"2" }}</td>
        </tr>
    </tbody>
</table>

{% endblock %}